<footer class="footer">
    <div class="footer-container">

        <div class="footer-section">
           <a href="/"> <img src="/img/img-logo.png" alt="Logo-DupottiSorvetes"></a>

        </div>


        <div class="footer-section">
            <h3>PRODUTOS</h3>
            <ul>
                <li>Baldes</li>
                <li>Picolés</li>
                <li>Sorvetes de Massa</li>
                <li>Pote de Sorvete</li>
                <li>Variados</li>
            </ul>
        </div>

        <div class="footer-section">
            <h3>SERVIÇOS</h3>
            <ul>
                <li>Comodato de Freezers</li>
                <li>Entrega no seu Estabelecimento</li>
                <li>Caminhão Refrigerado</li>
                <li>Atendimento ao Cliente</li>
            </ul>
        </div>

        <div class="footer-section">
            <h3>CONTATO</h3>
            <ul>
                <li><strong>SAC:</strong> (19) 3608-4288</li>
                <li>Rua Gabriel Bonino, 43A - Vila Formosa</li>
                <li>São José do Rio Pardo - CEP: 13720-000</li>
            </ul>
        </div>
    </div>

    <hr class="footer-separator">
    <div class="footer-bottom">
        <div class="footer-bottom-links">
            <a href="#">Nossas redes sociais</a>
            <span>|</span>
            <a href="#">Política de troca de produto</a>
            <span>|</span>
            <a href="#">Política de eventos</a>
        </div>

        <div class="footer-social-icons">
            <a class="instagramIcon" href="https://www.instagram.com/dupottisorvetes/"><i><img src="/img/logo-instagram.png" alt=""></i></a>
            <a class="facebookIcon" href="https://www.facebook.com/DupottiSorvetes/?locale=pt_BR"><i><img src="/img/logo-facebook.png" alt=""></i></a/img/logo-youtube.png" alt=""></i></a>
            <a href="#"><img src="/img/logo-youtube.png" alt=""></a>
        </div>
    </div>
</footer>
</body>
</html>