<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tela de Cadastro</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="/css/cadastro.css">
</head>
<body>
    <div class="container-fluid pagina">
        <div class="fundo-desfocado"></div>
        <div class="content-wrapper">
            <div class="left-side d-flex justify-content-center align-items-center">
                <a href="/"><img src="/img/img-logo.png" alt="" style="display: block; margin: auto;"></a>
            </div>
            <div class="container-cadastro">
                <div class="card-cadastro">
                    <h2>Dupotti Sorvetes</h2>

                    <form action="/cadastrar" method="post" id="registerForm">
                        <div class="form-group">
                            <label for="username">Nome de Usuário</label>
                            <input name="usuario" type="text" class="form-control" id="username" placeholder="Digite seu nome de usuário" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input name="email" type="email" class="form-control" id="email" placeholder="Digite seu email" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Senha</label>
                            <input name="senha" type="password" class="form-control" id="password" placeholder="Digite sua senha" required>
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword">Confirme a Senha</label>
                            <input name="confirmSenha" type="password" class="form-control" id="confirmPassword" placeholder="Confirme sua senha" required>
                        </div>
                        <button type="submit" class="btn btn-register btn-block">Cadastrar</button>
                        <p style="margin-top: 20px; margin-bottom: 0px;">Já possui conta? <a href="/login" style="color: #EF8812; text-decoration: underline;">Realizar Login</a></p>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9"></script>
</body>
</html>
