<%- include('./partials/header.ejs') %>
<body>
    <main>
        <div class="container">
            <section class="introducao">
                <div class="texto">
                    <h1>DUPOTTI<br>SORVETES</h1>
                    <h3>A sua melhor experiência será aqui!<br>Venha nos conhecer!</h3>
                </div>
                <div class="imagem">
                    <img src="/img/img-principal.png" alt="Imagem Sorvete" class="sorvete">
                </div>
            </section>
        </div>
        <section class="section-corpo">
            <div class="corpo-1">
                <img src="/img/img-entrega.png" alt="Imagem Aplicativo" id="imagem-entrega">
                <div class="corpo-1-texto">
                    <h1>Faça seu pedido pelo <br> nosso App!</h1>
                    <br>
                    <a href="#">Clique Aqui</a>
                </div>
            </div>
            <div class="corpo-2">
                <img src="/img/img-acai.png" alt="Imagem Acai" id="imagem-acai">
                <div class="corpo-1-texto">
                    <h1>Entre em contato pelo <br> nosso Whatsapp!</h1>
                    <br>
                    <a href="https://wa.me/551936084288" target="_blank">Clique Aqui</a>
                </div>
            </div>
        </section>
    </main>
</body>

<%- include('./partials/footer.ejs') %>