<%- include('./partials/header.ejs') %>
<body>
    <main>
        <div class="container">
            <section class="introducao">
                <div class="texto">
                    <h1>DUPOTTI<br>SORVETES</h1>
                    <h3>A sua melhor experiência será aqui!<br>Venha nos conhecer!</h3>
                </div>
                <div class="imagem">
                    <img src="/img/img-principal.png" alt="Imagem Sorvete" class="sorvete">
                </div>
            </section>
        </div>
        <section class="section-corpo-servicos">
            <div class="corpo-1-servicos">
                <img src="/img/img-celular.png" alt="Imagem Celular" id="imagem-celular">
                <div class="corpo-1-texto-servicos">
                    <h1>Comodato de Freezers</h1>
                    <br>
                    <p>A firma trabalha com outras empresas oferecendo <br> através de freezers horizontais e verticais, para revenda <br> de seus produtos. Se responsabiliza pela assistência <br> técnica e suporte de vendas, disponibilizando sempre <br> pessoal habilitado para reposição e entrega no seu <br> estabelecimento. </p>
                </div>
            </div>
            <div class="corpo-2-servicos">
                <img src="/img/img-caminhao.png" alt="Imagem Caminhao" id="imagem-caminhao">
                <div class="corpo-1-texto-servicos">
                    <h1>Entrega de Sorvetes</h1>
                    <br>
                    <p>A DUPOTTI SORVETES possui caminhão <br> refrigerado para o transporte de sorvetes, <br> garantindo e assegurando que seus produtos sejam entregues em seus pontos de venda com segurança e qualidade de acordo com os requisitos regulatórios.</p>
                </div>
            </div>

            <div class="corpo-3-servicos">
                <img src="/img/img-casquinha.png" alt="Imagem Casquinha" id="imagem-casquinha">
                <div class="corpo-1-texto-servicos">
                    <h1>Um Pouco Sobre Nossa <br> Historia:</h1>
                    <br>
                    <p>Fundada em 2010, no município de São José do <br> Rio Pardo, no Estado de São Paulo. A empresa <br> atua na fabricação, industrialização, comércio, <br> varejista e atacadista de gelados comestíveis. <br> O sorvete comestível é uma indústria em <br> crescimento e, com a crescente necessidade de <br> qualidade e satisfação do cliente, a excelência <br> do serviço de alimentação tornou-se uma <br> prioridade para muitas empresas. A empresa <br> explora a importância de estar comprometida <br> com a qualidade e a satisfação do cliente no <br> serviço de alimentação</p>
                </div>
            </div>
        </section>
    </main>
</body>

<%- include('./partials/footer.ejs') %>