body, html {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.full-page {
    position: relative;
    height: 100vh;
    width: 100%;
}

.bg-blur {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("https://i.ibb.co/PGn8L22/dupotti-Sorvetes-IMG.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    z-index: 1;
}

.content-wrapper {
    position: relative;
    z-index: 2;
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: space-between;
}

.left-side {
    flex: 1;
    background-color: transparent;
}

.login-container {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.8); 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.login-card {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 3;
    border-radius: 20px;
}

.login-card h2 {
    color: #800080;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

.form-control {
    margin-bottom: 15px;
    padding: 10px;
}

.btn-login {
    background-color: #800080;
    color: #fff;
    padding: 10px;
}

.btn-login:hover {
    background-color: #993399;
}

@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
    }
    
    .left-side {
        display: none;
    }
    
    .login-container {
        width: 100%;
        padding: 0;
    }

    .login-card {
        padding: 20px;
    }
}

@media (max-width: 576px) {
    .login-card {
        max-width: 90%;
        padding: 15px;
    }

    .form-control {
        padding: 8px;
    }

    .btn-login {
        padding: 8px;
    }
}
